<div class="row">
  <div class="span3">
    <section>
      <div>
        <h3>post feed(<%= @posts.count %>)</h3>
        <%= render 'shared/post' %>
      </div>
    </section>
    <section>
        <%= link_to "post up", postup_path, class: "btn btn-large btn-primary" %>
    </section>
  </div>

  <div class="span9">
    <div id="map"></div>
  </div>

</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>