<div id="position_msg" style="margin-top:10px;"></div>

<div id = "stationInformation">
	<div id = "stationElectronicBillboards">
		<%= render partial: 'index/stationElectronicBillboards',locals: { near_stations: {} }%>
	</div>

	<div id = "trainlocationMap">
	

	</div>
</div>