<div id="trainMap">
	<ul style="list-style:none">
 		<li class="station">代々木　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">原宿　　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">渋谷　　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">恵比寿　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">目黒　　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">五反田　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">大崎　　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">品川　　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">田町　　<span class = "stationIcon">　</span></li>
		<li class = "right"></li>
		<li class="station">浜松町　<span class = "stationIcon">　</span></li>
	</ul>
</div>